<!-- The actual button the user clicks -->
<button
  *ngIf="isAuthenticated"
  type="button"
  class="btn btn-link btn-sm p-0 ms-2"
  (click)="openModal($event)"
  [title]="'Edit ' + dropdownKey + ' options'"
  title="Edit the List">
  <i class="fa-regular fa-pen-to-square"></i>
</button>
<!-- Centered popup card -->
<div #overlayRef class="dropdown-popup-overlay" *ngIf="showModal" (click)="onBackdropClick($event)">
  <div class="dropdown-popup" role="dialog" aria-modal="true" (click)="onDialogClick($event)">
    <div class="dropdown-popup-header">
      <h5 class="dropdown-popup-title">Edit dropdown</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="closeModal($event)"></button>
    </div>
    <div class="dropdown-popup-body">
      <app-dropdown-manager [isModal]="true" [preselectedCollection]="dropdownKey">
      </app-dropdown-manager>
    </div>
  </div>
</div>
